{{> header }}
{{#if errors}}
{{#each errors}}
<div class="alert alert-danger">
	<strong>{{this.msg}}</strong>
</div>
{{/each}}
{{/if}}

<!-- Include the above in your HEAD tag -->

<link rel='stylesheet' href='css/style.css' >

<div class="container">
	<div class="profile-title">
		<center>
      <h3><b><u>{{username}}'s Profile:</u></b></h3>
			<a  data-toggle="modal" data-target="#myModal"><img src="https://i.imgur.com/OOmg4hq.png" name="aboutme" width="180" height="180" class="img-circle"></a>
			<br>
		</center>
	</div>
  <center>
	<div class="row marketing">
        <div class="col-lg-12">
          <h4 id= "SNAKE">Your High Score for Snake: <b>{{output1}}</b></h4>

          <h4>Your High Score for Maze: <b>{{output2}} seconds </b></h4>

          <h4>Your High Score for Brick: <b>{{output3}}</b> </h4>
        </div>
      </div>
</div>
</center>

{{> footer-end }}