{{> header }}
{{#if errors}}
{{#each errors}}
<div class="alert alert-danger">
	<strong>{{this.msg}}</strong>
</div>
{{/each}}
{{/if}}

<!-- Include the above in your HEAD tag -->

<div class="container">
	<div class="span3 well">
		<center>

			<a  data-toggle="modal" data-target="#myModal"><img src="https://s3.amazonaws.com/content.sitezoogle.com/u/39868/e62b728e2adccc7cf5028836c9469d97e5d3ba2e/original/amigose.jpg?1362420943" name="aboutme" width="140" height="140" class="img-circle"></a>
			<h3>{{username}}</h3>
			<br>
		</center>
	</div>
	<div class="row marketing">
        <div class="col-lg-6">
          <h4 id= "SNAKE">High Score for Snake: <b>{{output1}}</b></h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>High Score for Maze: <b>{{output2}} sec </b></h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>High Score for SpaceInvaders: <b>{{output3}}</b> </h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>High Score for ______ </h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>High Score for ______ </h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>High Score for ______ </h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

</div>

{{> footer-end }}